In [1]:
#import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Uploading our dataset
df = pd.read_excel("C:/Users/Faith/Desktop/minuteSleep_merged_cleaned.xlsx")
df.head(5)

           Id ActivityDate time_24hr  value        logid
0  1503960366   2016-04-12  02:49:30      1  11380564589
1  1503960366   2016-04-12  02:50:30      1  11380564589
2  1503960366   2016-04-12  02:51:30      1  11380564589
3  1503960366   2016-04-12  02:52:30      1  11380564589
4  1503960366   2016-04-12  02:53:30      1  11380564589

In [4]:
#Data types
df.dtypes

Id                       int64
ActivityDate    datetime64[ns]
time_24hr               object
value                    int64
logid                    int64
dtype: object